export FLASK_SETTINGS_MODULE="config.DevConfig"
export FLASK_SECRET_KEY="\xbf)\x92_\xcc\xc9\x0b\r&m\xcc\xa5i\xb1\xe2\xd8\x89V\xfb\x990\xbd\xe4l"
# S3 bucket name, e.g. media.knightlab.com (not used for local development)
export AWS_STORAGE_BUCKET_NAME=media.knightlab.com
# S3 key prefix, e.g. namespace among other projects in same bucket (not used for local development)
export AWS_STORAGE_KEY_PREFIX=scenevr
# public URL prefix which matches bucket name and prefix (for non-local should be like https://${AWS_STORAGE_BUCKET_NAME}/${AWS_STORAGE_KEY_PREFIX})
export AWS_STORAGE_BUCKET_URL=https://localhost:5000/static/local/
# Which version of SceneVR should the tool use?
export SCENEVR_DIST_ROOT_URL=https://cdn.knightlab.com/libs/scenevr/dev
# True only for local development
export TEST_MODE=True
# True only for local development
export FLASK_DEBUG=True
# will use SQLLite in a non-committed directory in your repo or see README if you'd rather use postgres
export DATABASE_URI="sqlite:///$(pwd)/.data/scenevr.db"
# Below are sensitive values which should not be in github.
# for local development, you don't need AWS_SECRET_ACCESS_KEY
export AWS_SECRET_ACCESS_KEY="get this from a developer"
# for local development, you don't need AWS_ACCESS_KEY_ID
export AWS_ACCESS_KEY_ID="get this from a developer"
