export FLASK_SETTINGS_MODULE="config.DevConfig"
export FLASK_SECRET_KEY="\xbf)\x92_\xcc\xc9\x0b\r&m\xcc\xa5i\xb1\xe2\xd8\x89V\xfb\x990\xbd\xe4l"
# Below are sensitive values which should not be in github.
export AWS_SECRET_ACCESS_KEY="get this from a developer"
export AWS_ACCESS_KEY_ID="get this from a developer"
export FLASK_DEBUG=True
