export FLASK_SETTINGS_MODULE="config.DevConfig"
export FLASK_SECRET_KEY="\xbf)\x92_\xcc\xc9\x0b\r&m\xcc\xa5i\xb1\xe2\xd8\x89V\xfb\x990\xbd\xe4l"
# Below are sensitive values which should not be in github.
# for local development, you don't need AWS_SECRET_ACCESS_KEY
export AWS_SECRET_ACCESS_KEY="get this from a developer"
# for local development, you don't need AWS_ACCESS_KEY_ID
export AWS_ACCESS_KEY_ID="get this from a developer"
# not used for local development
export AWS_STORAGE_BUCKET_NAME=scenevr
# not used for local development
export AWS_STORAGE_BUCKET_URL=https://media.knightlab.com/${AWS_STORAGE_BUCKET_NAME}
# True only for local development
export TEST_MODE=True
# True only for local development
export FLASK_DEBUG=True
