
#CreateProject {
    display: flex;
    flex-direction: column;


    width:100%;
    font-family: "Apres RE", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
    overflow: hidden;
    background-color: #F2F2F2;
    text-rendering: optimizeLegibility;
}



#scenes-container {
    display:flex;
    flex-direction: column;
    margin-bottom:100px;
}

#create-header {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:50px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #F2F2F2;
    z-index: 2;
    padding: 10px;
    font-size: 14px;
    color:#484848;
    border-bottom: 1px solid #e6e6e6;

    /* min-height:64px; */
}
#header-left, #header-right {

}

#nav-title {
    font-weight: 700;
    padding:5px;
    border-radius: 5px;
}

#publish {
    font-size:28px;
    cursor: pointer;
    margin-top:-2px;

}

#create-footer {
    display:flex;
    justify-content: center;
    position:fixed;
    bottom:0;
    width:100%;
    background-color: #FFF;
    border-top: 1px solid #e6e6e6;
}

#create-footer div {
    padding: 5px;
    font-size: 12px;
    color: #999;
}

#create-project-content {

    text-align: center;
    margin-top:60px;
    max-width:700px;
    align-self:center;
}

#title-input {
    font-family: "Salvo Serif Cond", Georgia, "Times New Roman", Times, serif;
    text-rendering: optimizeLegibility;
    text-align: center;
    font-weight: 700;
    color: #666;
    font-size: 24px;
    margin:0;
    width:100%;
    text-align: center;
}
#create-project-content input::placeholder {
    font-style: italic;
    color:#999;
}
#create-project-content input::-webkit-input-placeholder {
    font-style: italic;
    color:#999;
}
#create-project-content input::-moz-placeholder {
    font-style: italic;
    color:#999;
}
#create-project-content input:-ms-input-placeholder {
    font-style: italic;
    color:#999;
}
#create-project-content input:-moz-placeholder {
    font-style: italic;
    color:#999;
}
#create-project-content textarea {
    text-align: center;
}
#create-project-content textarea::placeholder {
    font-style: italic;
    color:#999;
    text-align: center;
}
#create-project-content textarea::-webkit-input-placeholder {
    font-style: italic;
    color:#999;
    text-align: center;
}
#create-project-content textarea::-moz-placeholder {
    font-style: italic;
    color:#999;
    text-align: center;
}
#create-project-content textarea:-ms-input-placeholder {
    font-style: italic;
    color:#999;
    text-align: center;
}
#create-project-content textarea:-moz-placeholder {
    font-style: italic;
    color:#999;
    text-align: center;
}
#project-description {
    font-weight: normal;
    color: #999;
    width:100%;
    text-align: center;
    font-family: "Apres RE", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size:12px;
    background-color: transparent;
    border:0;
    padding-left:50px;
    padding-right:50px;
}

#title-input, #project-description {
    border:none;
    outline:none;
}

#add-scene-button {
    /* width: 80%; */
    padding:25px;
    display: block;
    margin:5px;
    margin-left:50px;
    margin-right:50px;
    background-color: #D8D8D8;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    /* font-weight:700; */
    color:#484848;
    margin-bottom:50px;
    background-color: #2bc758;
    color:#FFF;
    border:1px solid #FFF;
}
#add-scene-button span {
    font-size: 32px;
}

#create-project-content input {
    background-color: transparent;
}





#drag-handle {
    float: left;

    font-size: 1.5rem;
    color: #D8D8D8;
    cursor: move;
}

::-webkit-input-placeholder {
    text-align: center;
}

:-moz-placeholder {
    /* Firefox 18- */
    text-align: center;
}

::-moz-placeholder {
    /* Firefox 19+ */
    text-align: center;
}

:-ms-input-placeholder {
    text-align: center;
}
