#create-header {
  background-color: #555555;
  z-index: 2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: white;
  font-weight: 100;
  font-size: .8rem;
}

#nav-title, #publish {
  position: absolute;
  top: 20px;
}

#nav-title {
  grid-column: 1;
  left: 20px;
}

#publish {
  cursor: pointer;
  grid-column: 2;
  color: #7ACCFF;
  right: 20px;
}

#CreateProject {
  display: grid;
  height: 100vh;
  grid-template-columns: 100%;
  grid-template-rows: 60px auto 60px;
  font-family: "Avenir Next";
  font-weight: bold;
  text-align: center;
  overflow: hidden;
}

#create-project-content {
  overflow-y: scroll;
}

#title-input {
  color: #8F8F8F;
  font-size: 2rem;
  font-weight: bold;
  margin-top: 30px;
}

#project-description {
  font-weight: 200;
  color: #979797;
}

#title-input, #project-description {
  margin-left: 10%;
  border: none;
}

#add-scene-button {
  width: 80%;
  height: 150px;
  display: block;
  margin: 25px auto;
  background-color: #D8D8D8;
  border-radius: 5px;
  font-size: 3rem;
  cursor: pointer;
}

#create-footer, #add-scene-button {
  display: table;
}

#create-footer div, #add-scene-button div {
  display: table-cell;
  vertical-align: middle;
  font-weight: 100;
  color: #3e3e3e;
}

#add-scene-button div {
  font-weight: bold;
}
<<<<<<< HEAD

#drag-handle{
  float:left;
  margin-left: 5px;
  font-size: 1.5rem;
  color: #D8D8D8;
  cursor: move;
}
=======
>>>>>>> fedb8f06033b7844cf8de0937f3d9071d8bfe31b
