.individual-project {
  height: 200px;
}

.project-preview {
  display: grid;
  grid-template-columns: 4fr 1fr;
  width: 90%;
  height: 150px;
  display: block;
  margin: 15px auto;
  background-color: #D8D8D8;
  border-radius: 5px;
}

.individual-project h5 {
  font-size: .8rem;
  color: #646464;
}
