#CreateProject {
  font-family: "Avenir Next";
}

#CreateProject input {
  outline: none;
  border: none;
}

#upload-header1 {
  background-color: #333;
  height: 60px;
  z-index: 2;
}

#upload-content {
  display: grid;
  grid-template-rows: 50px auto;
  grid-template-columns: 1fr 2fr;
  height: calc(100vh - 60px);
  position: relative;
}

#upload-cancel, #upload-done {
  position: absolute;
  top: 15px;
  color: #7ACCFF;
}

#upload-cancel {
  grid-column: 1;
  left: 15px;
}

#upload-done {
  grid-column: 2;
  right: 20px;
}

#upload-text {
  text-align: center;
  position: relative;
  top: 13px;
  font-weight: bold;
  font-size: 1.2rem;
}

#upload-header2 {
  grid-column: 1 / 3;
  padding-bottom: 10px;
  border-bottom: 2px solid #ddd;
}

#upload-thumbnail {
  background-color: #B0B0B0;
  margin: 17px;
  height: 100px;
  width: 140px;
  border-radius: 6px;
  display: inline-block;
}

#upload-description {
  margin: 17px;
  height: 100px;
  color: #444;
  word-break: break-all;
}
