<title>Hello from Flask</title>

<p> Project: {{project_id}}</p>
<a href="/home">Go back</a>

{% for scene in scenes %}
<div>
  <b> Scene: </b>
  <img width="200px" height = "200px" src="{{storage_url}}{{scene.image_url}}"></img>
  <p> Text: {{scene.text}} | ImageURL: {{scene.image_url}} </p>
</div>
{% endfor %}

<form action = "/home/{{project_id}}/update" method="POST" enctype="multipart/form-data">
    <input name="image_url" type="file" class="upload-file" accept="image/*">
    <input name="text">
    <input type="submit">
</form>
